################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment4/FileContentIndex/f8e24163-08bd-4c32-919b-78238f68f79c.vsidx
